/* 选择所有类名包含“language-”的code元素和pre元素 */
code[class*=language-],
pre[class*=language-] {
    /* 设置文字颜色为#ccc */
    color: #ccc;
    /* 设置背景透明 */
    background: 0 0;
    /* 设置字体为Consolas、Monaco、Andale Mono、Ubuntu Mono等 monospace字体 */
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    /* 设置字体大小为1em */
    font-size: 1em;
    /* 设置文字左对齐 */
    text-align: left;
    /* 保留空白符，不合并连续空白符 */
    white-space: pre;
    /* 设置单词间距为正常 */
    word-spacing: normal;
    /* 按正常规则断词 */
    word-break: normal;
    /* 不允许单词内换行 */
    word-wrap: normal;
    /* 设置行高为1.5 */
    line-height: 1.5;
    /* 设置Mozilla浏览器的制表符大小为4个空格宽度 */
    -moz-tab-size: 4;
    /* 设置Opera浏览器的制表符大小为4个空格宽度 */
    -o-tab-size: 4;
    /* 设置制表符大小为4个空格宽度 */
    tab-size: 4;
    /* 禁止WebKit内核浏览器自动断词 */
    -webkit-hyphens: none;
    /* 禁止Mozilla浏览器自动断词 */
    -moz-hyphens: none;
    /* 禁止IE浏览器自动断词 */
    -ms-hyphens: none;
    /* 禁止自动断词 */
    hyphens: none
}

/* 选择所有类名包含“language-”的pre元素 */
pre[class*=language-] {
    /* 设置内边距为1em */
    padding: 1em;
    /* 设置上下外边距为0.5em，左右外边距为0 */
    margin: .5em 0;
    /* 内容溢出时显示滚动条 */
    overflow: auto
}

/* 选择不是pre元素后代且类名包含“language-”的code元素，以及所有类名包含“language-”的pre元素 */
:not(pre)>code[class*=language-],
pre[class*=language-] {
    /* 设置背景颜色为#2d2d2d */
    background: #2d2d2d
}

/* 选择不是pre元素后代且类名包含“language-”的code元素 */
:not(pre)>code[class*=language-] {
    /* 设置内边距为0.1em */
    padding: .1em;
    /* 设置边框圆角为0.3em */
    border-radius: .3em;
    /* 正常处理空白符 */
    white-space: normal
}

/* 选择类名为token.block-comment、token.cdata、token.comment、token.doctype、token.prolog的元素 */
.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    /* 设置文字颜色为#999 */
    color: #999
}

/* 选择类名为token.punctuation的元素 */
.token.punctuation {
    /* 设置文字颜色为#ccc */
    color: #ccc
}

/* 选择类名为token.attr-name、token.deleted、token.namespace、token.tag的元素 */
.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
    /* 设置文字颜色为#e2777a */
    color: #e2777a
}

/* 选择类名为token.function-name的元素 */
.token.function-name {
    /* 设置文字颜色为#6196cc */
    color: #6196cc
}

/* 选择类名为token.boolean、token.function、token.number的元素 */
.token.boolean,
.token.function,
.token.number {
    /* 设置文字颜色为#f08d49 */
    color: #f08d49
}

/* 选择类名为token.class-name、token.constant、token.property、token.symbol的元素 */
.token.class-name,
.token.constant,
.token.property,
.token.symbol {
    /* 设置文字颜色为#f8c555 */
    color: #f8c555
}

/* 选择类名为token.atrule、token.builtin、token.important、token.keyword、token.selector的元素 */
.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
    /* 设置文字颜色为#cc99cd */
    color: #cc99cd
}

/* 选择类名为token.attr-value、token.char、token.regex、token.string、token.variable的元素     https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-tomorrow.min.css  ../../../styles/代码框.css*/
.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
    /* 设置文字颜色为#7ec699 */
    color: #7ec699
}

/* 选择类名为token.entity、token.operator、token.url的元素 */
.token.entity,
.token.operator,
.token.url {
    /* 设置文字颜色为#67cdcc */
    color: #67cdcc
}

/* 选择类名为token.bold、token.important的元素 */
.token.bold,
.token.important {
    /* 设置字体粗细为700（加粗） */
    font-weight: 700
}

/* 选择类名为token.italic的元素 */
.token.italic {
    /* 设置字体样式为斜体 */
    font-style: italic
}

/* 选择类名为token.entity的元素 */
.token.entity {
    /* 设置鼠标悬停时指针样式为help */
    cursor: help
}

/* 选择类名为token.inserted的元素 */
.token.inserted {
    /* 设置文字颜色为绿色 */
    color: green
}